<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>app-db • TodoMVC</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <form action='/add' method='post'>
        <input class="new-todo" placeholder="What needs to be done?" autofocus name="todo">
      </form>
    </header>
    <section class="main">
    <% for(var i=0; i < todos.length; i++) {%>
      <input id="toggle-all" class="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
          <li class="<% if (todos[i].complete) { %>completed<% } %>">
            <div class="view">
              <input class="toggle" type="checkbox" <% if (todos[i].complete) { %>checked
              <% } %>>
                <label><%= todos[i].todo %></label>
                <button class="destroy" id="<%= todos[i]._id %>"></button>
            </div>
            <input class="edit new-value" value="Create a TodoMVC template">
          </li>
      </ul>
    <% } %>
    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <% if (todos.length > 0) { %>
      <footer class="footer">
        <!-- This should be `0 items left` by default -->
        <span class="todo-count"><strong>
      <%= (!todos) ? 0 : todos.filter(item => !item.complete).length %>
      </strong> item left</span>
        <ul class="filters">
          <li>
            <a class="selected" href="#/">All</a>
          </li>
          <li>
            <a href="#/active">Active</a>
          </li>
          <li>
            <a href="#/completed">Completed</a>
          </li>
        </ul>
        <% if (todos.filter(item => item.complete).length > 0) { %>
        <button class="clear-completed">Clear completed</button>
        <% } %>
      </footer>
      <% } %>
  </section>
  <footer class="info">
    <p>Click to edit a todo</p>
    <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
    <p><a href="http://herbo.pl">Could They've Ever Met?</a></p>
    <p>Created by <a href="https://github.com/herbowicz">gh</a></p>
  </footer>
  <!-- Scripts here. Don't remove ↓ -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/front.js"></script>
</body>

</html>
